@model sistemaDeCitasMedicas.Models

<h2>Mi Perfil</h2>
<p>Nombre: @Model.Nombre</p>
<p>Correo Electrónico: @Model.CorreoElectronico</p>
<p>Fecha de Nacimiento: @Model.FechaNacimiento.ToShortDateString()</p>

<a href="@Url.Action("Edit", "Paciente")" class="btn btn-warning">Editar Información</a>
<a href="@Url.Action("Delete", "Paciente")" class="btn btn-danger">Eliminar Cuenta</a>
